<div class="container mt-3">
    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" type="text" [(ngModel)]="productId" placeholder="productId here"
                    name="productId">
            </div>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter name" name="name">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="price" [(ngModel)]="price" placeholder="price here">
            </div>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="description" placeholder="Enter description"
                    name="description">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="imageURL" [(ngModel)]="imageURL"
                    placeholder="imageURL here">
            </div>
            <div class="col">
                <input type="text" type="hidden" class="form-control" [(ngModel)]="description"
                    placeholder="Enter description" name="description">
            </div>
        </div>
        <br>
        <div class="d-grid">
            <button (click)="addProduct()" type="button" class="btn btn-primary btn-block">Add Product</button>
        </div>

        <hr>

        <table class="table">

            <thead>

                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Operation</th>
                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let product of products">
                    <td>{{product.productId}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td><button class="btn btn-danger">Delete</button></td>
                    <td><button class="btn btn-warning">Edit</button></td>
                </tr>

            </tbody>
        </table>

    </form>
</div>