<div class="container mt-3">
    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" type="text" [(ngModel)]="userId" placeholder="userId here"
                    name="userId">
            </div>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="username" placeholder="Enter username"
                    name="username">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input type="password" class="form-control" name="password" [(ngModel)]="password"
                    placeholder="password here">
            </div>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter email" name="email">
            </div>
        </div>
        <br>
        <div class="d-grid">
            <button (click)="register()" type="button" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>
</div>